@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  background-color: whitesmoke;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
  font-family: "Poppins", Calibri, "Trebuchet MS", sans-serif;
}


/* For the text */
.text__p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 100px 0;
}
.text__p h3 {
  font-size: 24px;
  font-weight: 600;
}
.text__p a {
  color: #0000ff;
}

.text__p h4 {
  margin: 30px 0;
  font-weight: 400;
  letter-spacing: 0.05em;
}